<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Basic App Information -->
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>scid/scid</string>
    <key>CFBundleGetInfoString</key>
    <string>Scid 5.1.202601</string>
    <key>CFBundleIconFile</key>
    <string>ScidApp.icns</string>
    <key>CFBundleIdentifier</key>
    <string>scid.sourceforge.net</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Scid</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>5.1.202601</string>
    <key>CFBundleSignature</key>
    <string>Scid</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.4</string>

    <!-- Document Types -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <!-- Scid Database Index -->
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>si5</string>
                <string>si4</string>
                <string>si3</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Scid Database Index</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>Scid</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>ScidDB.icns</string>
        </dict>

        <!-- Scid Database Games -->
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>sg5</string>
                <string>sg4</string>
                <string>sg3</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Scid Database Games</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>Scid</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>None</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>ScidDB.icns</string>
        </dict>

        <!-- Scid Database Names -->
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>sn5</string>
                <string>sn4</string>
                <string>sn3</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Scid Database Names</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>Scid</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>None</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>ScidDB.icns</string>
        </dict>

        <!-- Portable Game Notation (PGN) -->
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pgn</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>text/plain</string>
                <string>application/x-chess-pgn</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Portable Game Notation (PGN)</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>cpgn</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>ScidPGN.icns</string>
        </dict>

        <!-- Extended Position Description (EPD) -->
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>epd</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>text/plain</string>
                <string>application/x-chess-epd</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Extended Position Description (EPD)</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>cepd</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>ScidEPD.icns</string>
        </dict>

        <!-- Scid Spelling File (SSP) -->
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ssp</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>text/plain</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Scid Spelling File</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>sssp</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>ScidSSP.icns</string>
        </dict>
    </array>
</dict>
</plist>
